<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceSkeleton" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.78:1127/ServiceSkeleton.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSkeleton"
                contract="ServiceReferenceSkeleton.IServiceSkeleton" name="BasicHttpBinding_IServiceSkeleton" />
        </client>
    </system.serviceModel>
</configuration>